
<!-- src/components/Footer.astro -->
<footer class="py-8">
  <div class="flex justify-between items-center">
    <p>© 2023 Bricks Cloud Technologies, Inc. All rights reserved.</p>
    <div class="flex space-x-4">
      <!-- SVGs for social icons would go here -->
      <span>Twitter</span>
      <span>Facebook</span>
      <span>LinkedIn</span>
    </div>
  </div>
</footer>
